@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
*{
    font-family: 'Patrick Hand', cursive;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-size: 1em;
}
body>h1{
    text-align: center;
    font-size: 3em;
    margin: 55px 0px;
    color: rgba(0,0,0,0.8);
}
.contain{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.box{
    font-size: 1.3em;
    margin-left: 15px;
    padding: 20px;
    position: relative;
    max-width: 30%;
    float: left;
    background-color: rgba(128, 128, 128,0.7);
    border: 2.5px solid black;
}
.smbox{
    min-width: 33%;
    border: 2px solid black;
    position: absolute;
    top: -11px;
    right: -11px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
    letter-spacing: 0.1em;
}
#sm1{
    background-color: rgba(255, 192, 203,0.8);
}
#sm2{
    background-color: rgba(240,0,0,0.5);
    color: white;
}
#sm3{
    background-color: rgba(222, 184, 135,0.6);
}
@media (min-width:786px) and (max-width:991px) {
    .box{
        margin-left: 0;
        max-width: 45%;
    }
    .contain{
        display: flex;
        /* justify-content: space-around; */
        flex-wrap: wrap;
    }
    #box3{
        max-width: 95%;
    }
    #sm3{
        min-width: 17%;
    }
    
}
@media (max-width:767px){
    .contain{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .box{
        max-width: 80%;
    }
}